@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper
@{
    var rootContents = UmbracoHelper.ContentAtRoot();

    var homeBrands =rootContents?.FirstOrDefault(x => x.ContentType.Alias == "homePage") ?? null;
    var brandOne = homeBrands?.Value<IPublishedContent>("brandOne")?.Url() ?? "";
    var brandTwo = homeBrands?.Value<IPublishedContent>("brandTwo")?.Url() ?? ""; 
    var brandThree = homeBrands?.Value<IPublishedContent>("brandThree")?.Url() ?? ""; 
    var brandFour = homeBrands?.Value<IPublishedContent>("brandFour")?.Url() ?? ""; 
    var brandFive = homeBrands?.Value<IPublishedContent>("brandFive")?.Url() ?? ""; 
    var brandSix = homeBrands?.Value<IPublishedContent>("brandSix")?.Url() ?? "";
    
}
<section class="brands">
<div class="container">
<img src="@brandOne" alt="freedombird">
<img src="@brandTwo" alt="identity">
<img src="@brandThree" alt="natural">
<img src="@brandFour" alt="simpleaf">
<img src="@brandFive" alt="globe">
<img src="@brandSix" alt="fossilgroup">
</div>
</section>